html {
    font-family: 'Fira Sans', sans-serif;
    font-size: 125%;
    letter-spacing: 0.8px;
    min-height: 100vh;
    color: #d8e9ef;
    background-image: linear-gradient(-20deg, #025159 0%, #733b36 100%);
  }
  
  h1 {
    margin: 0 auto 1rem auto;
  }
  
  p {
    margin: 0;
  }
  
  .app-message {
    margin: 0 auto 1rem auto;
  }

  .app-container {
    width: fit-content;
    min-width: 250px;
    min-height: 420px;
    margin: 40px auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    /* background-color: blueviolet; */
  }

  .app-circle {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  
  .circle-shape {
    pointer-events: none;
  }
  
  .semi-circle {
    position: absolute;
    width: 100px;
    height: 200px;
    box-sizing: border-box;
    border: solid 6px;
  }
  
  .left-side {
    top: 0;
    left: 0;
    transform-origin: right center;
    transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: none;
    z-index: 1;
  }
  
   .right-side {
    top: 0;
    left: 100px;
    transform-origin: left center;
    transform: rotate(0 deg);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: none;
  }
  
  .circle {
    border-color: #bf5239;
  }
  
  .circle-mask {
    border-color: #e85a71;
  }
  
  .app-counter-box {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 250%;
    position: relative;
    top: 50px;
    color: #d8e9ef;
  }
  
  button {
    position: relative;
    top: 50px;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background: none;
    outline: none;
    color: #d8e9ef;
  }
  
  button:hover {
    color: #90c0d1;
  }
  